body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

/* Color scheme */
:root {
	--primary-color: #007bff;
	--secondary-color: #0056b3;
	--neutral-light: #f0f0f0;
	--neutral-dark: #ccc;
	--text-color: #333;
	--text-color-light: #555;
	--shadow-color: rgba(0, 0, 0, 0.1);
}

.App {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid var(--neutral-dark);
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 2px 6px var(--shadow-color);
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
	color: var(--text-color);
}

.button {
	padding: 10px 20px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	background-color: var(--primary-color);
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;
}

.button:hover {
	background-color: var(--secondary-color);
}

.button:disabled {
	background-color: var(--neutral-dark);
	cursor: not-allowed;
}

.prompt {
	margin-top: 20px;
	padding: 15px;
	border: 1px solid var(--neutral-dark);
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 2px 4px var(--shadow-color);
}

.input-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.input-container input {
	flex: 1;
	padding: 8px;
	border: 1px solid var(--neutral-dark);
	border-radius: 5px;
	font-size: 14px;
	color: var(--text-color);
}

.input-container button {
	margin-left: 10px;
	padding: 8px 15px;
	border: none;
	border-radius: 5px;
	background-color: var(--primary-color);
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;
}

.input-container button:hover {
	background-color: var(--secondary-color);
}

.response {
	margin-top: 20px;
	padding: 15px;
	border: 1px solid var(--neutral-dark);
	border-radius: 5px;
	background-color: var(--neutral-light);
	box-shadow: 0px 2px 4px var(--shadow-color);
}

.response-role {
	font-weight: bold;
}

#generateBtn[disabled] {
	background-color: var(--neutral-dark);
	cursor: not-allowed;
}

/* Add styles for PDF content */
.pdf-entry {
	margin-top: 10px;
	font-size: 14px;
	color: var(--text-color-light);
}

/* In your CSS stylesheet */
.input-style {
	width: 100%;
	height: 40px;
	padding: 8px;
	border: 1px solid var(--neutral-dark);
	border-radius: 5px;
	font-size: 14px;
	color: var(--text-color);
}

.progress-container {
	width: 100%;
	position: relative;
	height: 20px;
	background-color: var(--neutral-light);
	border-radius: 5px;
	overflow: hidden;
}

.progress-bar {
	height: 100%;
	background-color: var(--primary-color);
	width: 0;
	transition: width 0.2s ease-in-out;
}

.progress-range {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: var(--neutral-dark);
}

#generateBtn {
	margin-top: 10px;
}